<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='whale.webp') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='qr.css') }}">
</head>

<body>
    <section id="center">
        <h1>QR Code Generator</h1>
    </section>
    <img id="img" src="{{ qr_code_img_path }}" alt="Generated QR Code">
    <section id="download-button">
            <a href="{{ qr_code_img_path }}" download="qr-code.png"><button>Download Image</button></a>
    </section>
    <footer>
        <a href="https://eglenn.dev" target="_blank">
            <p>Copyright &copy; Ethan Glenn 2023</p>
        </a>
    </footer>
</body>

</html>